// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.monlabel{color: #999900; font-size: 18px; font-weight: bold;} .monheader{color: #999900;font-weight: bold;}

.alertDanger{

  color: red;
  button{
    color: red;
  }
}
.alertSucces {
  color: green;
  button {
    color: green;
  }
}


@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.alertDanger{
  background-color: #E0F7FA;
  color: red;
  button{
    color: red;
  }
}
.text-on-bottom > .button-inner {
  flex-direction: column;
}
.topicon{
  margin-top: 20px;
}
.textundericon{
  margin-top: 2px;
}
button {
  ion-badge {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    opacity: 0.9;

    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}

.menu-inner > ion-content,
.menu-inner > ion-footer {
  background-color: #999900;
}

.toolbar-title {

  color : #fff;
}
.button-inner{
  text-transform: none;
}
.md{
  .test{
    margin-right: 34px;
  }
  .plushaut{
    margin-top: -7px;
  }
}
.p-service .p-service-img,.p-service a{border:none}.p-service .p-service-img{height:150px;width:150px;margin:0 auto;display:block}
.p-box a{width:48%;display:inline-block;border-bottom:2px solid #999900;margin:0 4px 5px 0;padding:2px 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.p-box .p-box-img{height:110px;width:110px;margin:0 auto;display:block}.p-box .p-box-title{color:#000;text-align:center;display:block;width:100%;font-size:12px;font-weight: bold;font-family: Georgia}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
